
{% extends "head.html" %}

{% block content%}

    <section class="text-gray-700 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Employee Table</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Add, delete ,search any Employee name</p>
        </div>

        <div class="lg:w-2/3 w-full mx-auto overflow-auto">

<form action="/" class="w-full  max-w-sm" method="post">

                      {{ form.csrf_token }}
              <div class="flex items-center border-b border-b-2 border-teal-500 py-2">

                {{form.data(class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" ,placeholder="Enter any data here") }}
  {{form.submit(class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded")}}



                <button class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                  <a href="/add">Add new</a>
                </button>
              </div>
            </form>

          <table class="table-auto w-full text-left whitespace-no-wrap">
            <thead>
              <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200 rounded-tl rounded-bl">Name</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200">Designation</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200">Address</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200">Phone</th>

              </tr>
            </thead>
            {% if posts%}
            <tbody>
              {% for post in posts%}
              <tr>
                <td class="px-4 py-3">{{post.name}}</td>
                <td class="px-4 py-3">{{post.designation}}</td>
                <td class="px-4 py-3">{{post.address}}</td>
                <td class="px-4 py-3 text-lg text-gray-900">{{post.phone}}</td>

              </tr>
              {%endfor%}
            </tbody>
            {%endif%}
          </table>
        </div>

      </div>
    </section>
    {% endblock%}
